/* RESET */
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
}

:root {
   --main-color: #8d7853;
   --secondary-color: #f8f8f8;
   --third-color: #969696;
   --ffirst-color: #3f3d39;
   --fsecond-color: #353330;
   --facebook: #3b5996;
   --googleplus: #dc4a32;
   --linkedin: #0877b0;
   --twitter: #07abed;
}

html {
   scroll-behavior: smooth;
}

body {
   font-family: sans-serif;
}

/* --------- */
/* UTILITUES */
/* --------- */
.container {
   max-width: 1300px;
   padding: 0 10px;
   margin: 0 auto;
}

.svg {
   width: 15px;
   height: 15px;
}

ul {
   list-style: none;
}

/* ----------------- */
/* HEADER and NAVBAR */
/* ----------------- */
.header__nav {
   position: fixed;
   display: block;
   top: 0;
   left: 0;
   right: 0;
   height: 0;
}
.header__nav__wrapper {
   padding-block: 15px;
}
.header__nav__logo {
   display: inline-block;
   max-width: 140px;
   vertical-align: middle;
}
.header__nav__logo > img {
   width: 100%;
}
.header__nav__items {
   display: inline-block;
   text-transform: capitalize;
   color: white;
   width: calc(99% - 140px);
   text-align: right;
}
.header__nav__items__item {
   display: inline-block;
   position: relative;
   margin-inline-start: 17px;
   transition: all 0.3s ease;
}
.header__nav__items__item__link {
   text-decoration: none;
   color: white;
}
.header__nav__items__item:hover {
   cursor: pointer;
   color: var(--main-color);
}
.header__nav__items__item__link--active {
   color: var(--main-color);
}
.header__nav__items__item__link--active::after {
   content: "";
   position: absolute;
   top: -25px;
   left: 0;
   right: 0;
   height: 3px;
   background-color: var(--main-color);
}

.header__content {
   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header.jpg");
   background-size: cover;
   background-position: bottom center;

   height: 100vh;
}
.header__content__wrapper {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
}
.header__content__welocome,
.header__content__submaintitle {
   font-size: 25px;
   color: rgb(179, 179, 179);
   margin-block: 50px;
}
.header__content__maintitle {
   font-size: 60px;
   color: white;
   margin-top: 20px;
   text-transform: capitalize;
}
.header__content__actions {
   margin-top: 10px;
}
.header__content__actions__button {
   all: unset;
   color: white;
   padding: 15px 20px;
   text-transform: capitalize;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.3s ease;
}
.header__content__actions__button:first-of-type {
   margin-inline-end: 10px;
}
.header__content__actions__button--learnmore {
   background-color: var(--main-color);
}
.header__content__actions__button--contactus {
   border: 1px solid white;
}
.header__content__actions__button:hover {
   background-color: white;
   color: black;
}
.header__content__scroll {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 34px;
   height: 55px;
   min-height: 55px;
   border-radius: 50px;
   border: 1px solid white;
   margin-top: 80px;
   margin-inline: auto;
   overflow: hidden;
}
.header__content__scroll::after {
   content: "";
   position: absolute;
   width: 5px;
   height: 10px;
   background-color: white;
   border-radius: 10px;
   animation: scroll 3s infinite ease-in-out;
   will-change: animation;
}

/* ----------------------- */
/* SECTION 1 => WHO WE ARE */
/* ----------------------- */
.who-we-are {
   /* background-color: red; */
   background-color: white;
}
.who-we-are__wrapper,
.our-location__wrapper,
.contact-info__wrapper {
   height: 100vh;
}
.who-we-are__wrapper > *,
.our-location__wrapper > * {
   display: inline-block;
   width: calc(98% / 2);
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}
.who-we-are__image,
.our-location__image,
.contact-info__map {
   text-align: center;
   vertical-align: top;
}
.who-we-are__image img,
.our-location__image img {
   max-width: 90%;
}
.who-we-are__content,
.our-location__content {
   padding-inline-start: 15px;
}
.who-we-are__content__title,
.our-location__content__title,
.contact-info__content__title {
   text-transform: capitalize;
   margin-bottom: 30px;
   font-size: 30px;
   text-align: center;
}
.who-we-are__content__description,
.our-location__content__description,
.contact-info__content__description {
   color: var(--main-color);
   font-size: 17px;
   line-height: calc(17px * 1.6);
   text-align: center;
}
.who-we-are__content__features {
   margin-top: 20px;
}
.who-we-are__content__features__feature {
   color: var(--main-color);
   margin-bottom: 10px;
}
.who-we-are__content__features__feature > * {
   display: inline-block;
}
.who-we-are__content__features__feature__icon {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.3);
   text-align: center;
   vertical-align: middle;
   margin-inline-end: 6px;
}
.who-we-are__content__features__feature__icon svg {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}

/* ------------------------- */
/* SECTION 2 => OUR LOCATION */
/* ------------------------- */
.our-location {
   background-color: var(--secondary-color);
}
.our-location__content__description:first-of-type {
   margin-bottom: 30px;
}

/* ----------------------- */
/* SECTION 3 => OUR BAKING */
/* ----------------------- */
.our-baking {
   background-color: white;
   height: 100vh;
}
.our-baking__wrapper {
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}
.our-baking__header {
   text-align: center;
}
.our-backing__header__title {
   margin-bottom: 30px;
   text-transform: capitalize;
   font-size: 30px;
}
.our-backing__header__description {
   color: var(--main-color);
}
.our-baking__cards {
   overflow: hidden;
}
.our-baking__cards__card {
   float: left;
   width: calc(94% / 3);
   margin-top: 50px;
   text-align: center;
}
.our-baking__cards__card:nth-child(even) {
   margin-inline: 3%;
}
.our-baking__cards__card__img img {
   max-width: 100%;
}
.our-baking__cards__card__content__title {
   margin-block: 15px;
}
.our-baking__cards__card__content__description {
   font-size: 17px;
   line-height: calc(17px * 1.5);
   color: var(--main-color);
}

/* -------------------------------- */
/* SECTION 4 => CONTACT INFORMATION */
/* -------------------------------- */
.contact-info {
   background-color: var(--secondary-color);
}
.contact-info__wrapper {
   overflow: hidden;
}
.contact-info__wrapper > * {
   float: left;
   width: calc(100% / 2);
   position: relative;
   top: 50%;
   transform: translateY(-50%);
}
.contact-info__map iframe {
   max-width: 80%;
}
.contact-info__content__details {
   color: var(--main-color);
}
.contact-info__content__details__title {
   margin-top: 40px;
   margin-bottom: 30px;
}
.contact-info__content__details__items__item:not(:last-child) {
   margin-bottom: 10px;
}
.contact-info__content__details__items__item__icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: var(--main-color);
   text-align: center;
   display: inline-block;
   vertical-align: middle;
   margin-inline-end: 5px;
}
.contact-info__content__details__items__item__icon svg {
   width: 20px;
   height: 20px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   fill: white;
}
.contact-info__content__details__items__item__desc {
   display: inline-block;
}

/* ------ */
/* FOOTER */
/* ------ */
.footer {
   background-color: var(--ffirst-color);
   padding-top: 50px;
}
.footer__wrapper {
   min-height: 70vh;
   overflow: hidden;
}
.footer__part {
   float: left;
   width: calc(96% / 4);
   margin-inline-end: 1%;
}
.footer__part:last-of-type svg {
   fill: var(--third-color);
   vertical-align: top;
   display: inline-block;
   margin-top: 5px;
   margin-inline-end: 5px;
}
.footer__part__title {
   color: white;
   font-size: 20px;
   margin-bottom: 30px;
}
.footer__part__desc {
   padding-inline-end: 20px;
}
.footer__part__desc,
.footer__part__items__item {
   color: var(--third-color);
   font-size: 17px;
   line-height: calc(17px * 1.6);
   margin-bottom: 20px;
}
.footer__part__items__item {
   border-bottom: 1px solid rgba(0, 0, 0, 0.16);
   padding-bottom: 20px;
}
.footer__part__items__item__icon {
   display: inline-block;
   width: 20px;
   height: 20px;
   vertical-align: middle;
}
a.footer__part__items__item__desc {
   text-decoration: none;
   vertical-align: middle;
   color: var(--third-color);
   display: inline-block;
   width: 90%;
   transition: color 0.3s ease;
}
a.footer__part__items__item__desc:hover {
   color: white;
}

.footer__contacts {
   background-color: var(--fsecond-color);
}
.footer__contacts__wrapper {
   text-align: center;
   padding-block: 40px;
}
.footer__contacts__image {
   padding-block: 20px;
}
.footer__contacts__image img {
   width: 250px;
}
.footer__contacts__desc {
   color: var(--third-color);
   font-size: 14px;
}
.footer__contacts__items {
   margin-top: 20px;
}
.footer__contacts__items__item {
   text-align: center;
   display: inline-block;
}
.footer__contacts__items__item__icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: var(--ffirst-color);
}
.footer__contacts__items__item__icon svg {
   width: 30px;
   height: 20px;
   position: relative;
   top: 50%;
   transform: translateY(-50%);
   fill: var(--third-color);
}
.footer__contacts__items__item__icon:hover svg {
   fill: white;
}
.footer__contacts__items__item__icon--facebook:hover {
   background-color: var(--facebook);
}
.footer__contacts__items__item__icon--twitter:hover {
   background-color: var(--twitter);
}
.footer__contacts__items__item__icon--googleplus:hover {
   background-color: var(--googleplus);
}
.footer__contacts__items__item__icon--linkedin:hover {
   background-color: var(--linkedin);
}

/* ------------ */
/* USER ACTIONS */
/* ------------ */
.user {
   display: flex;
   flex-direction: column;
   position: fixed;
   width: 40px;
   background-color: white;
   top: 30vh;
   inset-inline-end: 0;
   border-radius: 10px 0 0 10px;
   padding: 3px;
   box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
}
.user__action {
   all: unset;
   position: relative;
   background-color: white;
   width: 100%;
   cursor: pointer;
}
.user__action svg {
   width: 100%;
   max-height: 25px;
   padding-top: 5px;
}
.user__action::after {
   content: attr(data-hint);
   position: absolute;
   display: block;
   top: 50%;
   inset-inline-end: 120%;
   width: fit-content;
   min-width: 100px;
   text-align: center;
   white-space: pre;
   background-color: white;
   padding: 5px;
   border-radius: 4px;
   font-size: 13px;
   transform: translateY(-50%);
   opacity: 0;
   visibility: hidden;
   transition: opacity 0.5s ease;
}
.user__action:hover::after {
   opacity: 1;
   visibility: visible;
}

/* ---------- */
/* ANIMATIONS */
/* ---------- */
@keyframes scroll {
   0% {
      transform: translateY(30px);
      opacity: 0;
   }
   30% {
      opacity: 0.5;
   }
   60% {
      opacity: 1;
   }
   100% {
      transform: translateY(-15px);
      opacity: 0;
   }
}
